<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Phalanger configuration -->
	<phpNet>
    
		<classLibrary>
      
      <!-- Separately distributed or 3rd party managed extensions (see http://PhalangerMySql.codeplex.com/) -->
			<add assembly="PhpNetMySql, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="mysql"/>
		</classLibrary>
    
		<mysql>
      
			<!-- Default server for mysql_connect() function. -->
			<set name="Server" value="" phpName="mysql.default_host" />

			<!-- Default port for mysql_connect() function. -->
			<set name="Port" value="3306" phpName="mysql.default_port" />

			<!-- Default user for mysql_connect() function. -->
			<set name="User" value="" phpName="mysql.default_user" />

			<!-- Default password for mysql_connect() function. -->
			<set name="Password" value="" phpName="mysql.default_password" />

			<!-- Connection timeout. Negative value or zero means no timeout. -->
			<set name="ConnectTimeout" value="60" phpName="mysql.connect_timeout" />
			<!-- 
				Limit for the number of simoultaneous connections that the application can establish.
				Negative value means no limit.
			-->
			<set name="MaxConnections" value="-1" phpName="mysql.max_links" />

      <!-- "Maximum Pool Size" value passed to the MySql Connector/Net Connection String. -->
      <set name="MaxPoolSize" value="100" />
		</mysql>
	</phpNet>

</configuration>
